@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
  margin: 0;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  position: relative;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.info-button {
  position: absolute;
  right: 20px;
}